
- var IMAGEN_SUPERVISOR   =  "../images/icon-supervisor.svg"
- var IMAGEN_KARMA        =  "../images/icon-karma.svg"
- var IMAGEN_CALCULATOR   =  "../images/icon-calculator.svg"
- var IMAGEN_TEAM_BUILDER =  "../images/icon-team-builder.svg"

- var TEXT_SUPERVISOR   = "Monitors activity to identify project roadblocks"
- var TEXT_KARM         = "Scans our talent network to create the optimal team for your project"
- var TEXT_CALCULATOR   = "Karma Regularly evaluates our talent to ensure quality"
- var TEXT_TEAM_BUILDER = "Uses data from past projects to provide better"

- var BOX_NAME = ["Supervisor", "Team Building", "Karma", "Calculator"]
- var IMAGE_ROUTE = [IMAGEN_SUPERVISOR, IMAGEN_TEAM_BUILDER, IMAGEN_KARMA, IMAGEN_CALCULATOR]
- var ALT_TEXT =["Imagen lupa", "Imagen trabajo en equipo", "Imagen karma", "Imagen calculadora"]
- var TEXT =[TEXT_SUPERVISOR, TEXT_KARM, TEXT_CALCULATOR, TEXT_TEAM_BUILDER]