@mixin boxes($color, $backgroundColor, $boxShadow){
	.box{
		background-color: $backgroundColor;
		border-top: $color 0.4rem solid;
		box-shadow: $boxShadow;
		width: 100%;
		padding:1rem 2rem;
		@extend %radius;
		&__image{
			display:flex;
			justify-content: flex-end;
		}
	}
}