html{
    font-size :62.5%;
}

body{
    background-color:$SECUNDARY_COLOR3;
    font-family: $FONT_FAMILY;
    font-size: 1.5rem;
    @extend %center;
    display:block;
}

h1,h2,
ul,ol,
p,figure,header{
    margin-bottom:1.5rem;
    margin-top:1.5rem;
}

ul,li{
    list-style-type:none;
    padding: 0;
}

p{
    color:$SECUNDARY_COLOR2;
    font-weight: 200;
}

h2{
    color:$SECUNDARY_COLOR1;
    font-weight: 400;
}

h1{
    font-size: 3rem;
    font-weight: 600;
}




